<div class="ecamp-modal-header">
  <h1>{{ 'BILLS.TITLE' | translate }}</h1>
</div>

<div class="ecamp-modal-body">

  <mat-tab-group>

    <!-- User -->
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-user ecamp-icon-primary"></i>
      </ng-template>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 ecamp-bill-user-info">
            <p><strong>{{ 'BILLS.TABLE.USER.DNI' | translate }}:</strong> {{ bill.user.dni }}</p>
            <p><strong>{{ 'BILLS.TABLE.USER.NAME' | translate }}:</strong> {{ bill.user.name }}</p>
            <p><strong>{{ 'BILLS.TABLE.USER.SURNAMES' | translate }}:</strong> {{ bill.user.surnames }}</p>
            <p>
              <strong>{{ 'BILLS.TABLE.USER.EMAIL' | translate }}: </strong>
              <a href="mailto: {{ bill.user.email }}">{{ bill.user.email }}</a>
            </p>
            <p><strong>{{ 'BILLS.TABLE.USER.PHONE' | translate }}:</strong> {{ bill.user.phone }}</p>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Bills -->
    <mat-tab label="Bills">
      <ng-template mat-tab-label>
        <i class="far fa-file-alt ecamp-icon-primary"></i>
      </ng-template>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">{{ 'BILLS.TABLE.CAMP.CODE' | translate }}</th>
              <th scope="col">{{ 'BILLS.TABLE.CAMP.NAME' | translate }}</th>
              <th scope="col">{{ 'BILLS.TABLE.CAMP.PRICE' | translate }} (€)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let camp of bill.camps; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ camp.code }}</td>
              <td>{{ camp.name }}</td>
              <td>{{ camp.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<div class="ecamp-modal-footer">
  <button mat-stroked-button (click)="cancel()">
    {{ 'ALERT.CLOSE' | translate | uppercase }}
  </button>
</div>