<div class="table-responsive">
  <table class="table ecamp-table-childs">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'USERS.TABLE.DNI' | translate }}</th>
        <th scope="col">{{ 'USERS.TABLE.NAME' | translate }}</th>
        <th scope="col">{{ 'USERS.TABLE.SURNAMES' | translate }}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let child of childs; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ child.dni }}</td>
        <td>{{ child.name }}</td>
        <td>{{ child.surnames }}</td>
        <td><i class="fas fa-eye ecamp-btn-table-icon ecamp-icon-success" (click)="showChild(child)"></i></td>
      </tr>
    </tbody>
  </table>
</div>