<div class="ecamp-modal-header">
    <h1 *ngIf="!camp._id">{{ 'CAMPS.MODAL.NEW-CAMP' | translate }}</h1>
    <h1 *ngIf="camp._id">{{ 'CAMPS.MODAL.EDIT-CAMP' | translate }}</h1>
</div>

<div class="ecamp-modal-body">

    <mat-horizontal-stepper>

        <!-- Step 1 -->
        <mat-step>
            <ng-template matStepLabel>{{ 'CAMPS.MODAL.DATA' | translate }}</ng-template>
            <form [formGroup]="step1Form">

                <div class="container-fluid">
                    <!-- ·········· Type ·········· -->
                    <div class="radio-btns-group">
                        <h5>{{ 'CAMPS.MODAL.TYPE' | translate }}:</h5>
                        <mat-radio-group formControlName="type">
                            <mat-radio-button value="1" [checked]="isAutonomousCamp()">
                                {{ 'CAMPS.MODAL.AUTONOMOUS-CAMP' | translate }}
                            </mat-radio-button>
                            <mat-radio-button value="2" [checked]="isExchangeCamp()">
                                {{ 'CAMPS.MODAL.EXCHANGE-CAMP' | translate }}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <!-- ·········· Code & name ·········· -->
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="input-full-width">
                                <input type="text" matInput placeholder="{{ 'CAMPS.MODAL.CODE' | translate }}"
                                    formControlName="code">
                                <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-9">
                            <mat-form-field class="input-full-width">
                                <input type="text" matInput placeholder="{{ 'CAMPS.MODAL.NAME' | translate }}"
                                    formControlName="name">
                                <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ·········· Dates ·········· -->
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="input-full-width">
                                <input matInput [matDatepicker]="startPicker" [min]="minDate"
                                    placeholder="{{ 'CAMPS.MODAL.START-DATE' | translate }}"
                                    formControlName="startDate">
                                <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                <mat-datepicker #startPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="input-full-width">
                                <input matInput [matDatepicker]="endPicker" [min]="maxDate"
                                    placeholder="{{ 'CAMPS.MODAL.END-DATE' | translate }}" formControlName="endDate">
                                <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                <mat-datepicker #endPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ·········· Ages, participants & price ·········· -->
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field class="input-full-width">
                                <input type="number" matInput placeholder="{{ 'CAMPS.MODAL.MIN-AGE' | translate }}"
                                    min="12" max="18" formControlName="minAge">
                                <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="input-full-width">
                                <input type="number" matInput placeholder="{{ 'CAMPS.MODAL.MAX-AGE' | translate }}"
                                    min="12" max="18" formControlName="maxAge">
                                <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="input-full-width">
                                <input type="number" matInput
                                    placeholder="{{ 'CAMPS.MODAL.NUM-PARTICIPANTS' | translate }}" min="10" max="50"
                                    formControlName="numPeople">
                                <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="input-full-width">
                                <input type="number" matInput placeholder="{{ 'CAMPS.MODAL.PRICE' | translate }}"
                                    formControlName="price">
                                <span matSuffix>€</span>
                                <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <!-- Step 2 -->
        <mat-step>
            <ng-template matStepLabel>{{ 'CAMPS.MODAL.FACILITIES' | translate }}</ng-template>
            <form [formGroup]="step2Form">

                <div class="container-fluid">
                    <!-- ·········· Installations ·········· -->
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="input-full-width">
                                <input type="text" matInput placeholder="{{ 'CAMPS.MODAL.FACILITIES' | translate }}"
                                    formControlName="installations">
                                <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ·········· Address ·········· -->
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="input-full-width">
                                <input type="text" matInput placeholder="{{ 'CAMPS.MODAL.ADDRESS' | translate }}"
                                    formControlName="address">
                                <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ·········· CCAA, province & cp ·········· -->
                    <div class="row">
                        <div class="col-md-5">
                            <mat-form-field class="input-full-width">
                                <mat-select placeholder="{{ 'CAMPS.MODAL.CCAA' | translate }}" formControlName="ccaa">
                                    <mat-option *ngFor="let ccaa of autonomousCommunities" [value]="ccaa.id">
                                        {{ ccaa.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="input-full-width">
                                <mat-select placeholder="{{ 'CAMPS.MODAL.PROVINCE' | translate }}"
                                    formControlName="province">
                                    <mat-option *ngFor="let province of provinces" [value]="province">
                                        {{ province }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="input-full-width">
                                <input type="number" matInput placeholder="{{ 'CAMPS.MODAL.POSTAL-CODE' | translate }}"
                                    formControlName="cp">
                                <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <!-- Step 3 -->
        <mat-step>
            <ng-template matStepLabel>{{ 'CAMPS.MODAL.IMAGES-PDF' | translate }}</ng-template>
            <div class="container-fluid">
                <!-- ·········· Images ·········· -->
                <div class="row">
                    <div class="col-md-12">
                        <h5>
                            <strong>{{ 'CAMPS.MODAL.MAX-NUM-IMAGES' | translate }}</strong>
                            <i class="far fa-images media-icon"></i>
                        </h5>
                        <app-media-manager [code]="step1Form.get('code').value" [images]="camp.images"
                            (updateImages)="updateImages($event)">
                        </app-media-manager>
                    </div>
                    <div class="col-md-12">
                        <h5>
                            <strong>{{ 'CAMPS.MODAL.PDF' | translate }}</strong>
                            <i class="far fa-file-alt media-icon"></i>
                        </h5>
                        <input type="file" class="input-full-width" placeholder="{{ 'CAMPS.MODAL.PDF' | translate }}"
                            (change)="addPDF($event)">
                        <mat-error class="msg-error" *ngIf="!step1Form.get('code').value">
                            {{ 'CAMPS.MODAL.EMPTY-CODE' | translate }}
                        </mat-error>
                        <br><br>
                        <i *ngIf="showPDF" class="fas fa-file-pdf ecamp-btn-pdf" (click)="openPDF()"></i>
                    </div>
                </div>
            </div>
        </mat-step>

        <!-- Step 4 -->
        <mat-step>
            <ng-template matStepLabel>{{ 'CAMPS.MODAL.OTHERS' | translate }}</ng-template>
            <form [formGroup]="step4Form">

                <div class="container-fluid">
                    <!-- ·········· Modalities ·········· -->
                    <div class="row">
                        <div class="col-md-12">
                            <h5>{{ 'CAMPS.MODAL.MODALITIES' | translate }}</h5>
                        </div>
                        <app-modality-badge class="col-md-4" *ngFor="let modality of camp.modalities" [id]="modality.id"
                            [name]="modality.name" [checked]="modality.checked" [canCheck]="true"
                            (click)="selectModality(modality.id)">
                        </app-modality-badge>
                    </div>
                    <!-- ·········· Description ·········· -->
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="input-full-width">
                                <textarea matInput placeholder="{{ 'CAMPS.MODAL.DESCRIPTION' | translate }}"
                                    formControlName="description"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ·········· Observations ·········· -->
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field class="input-full-width">
                                <input type="text" matInput placeholder="{{ 'CAMPS.MODAL.OBSERVATIONS' | translate }}"
                                    formControlName="observations">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

    </mat-horizontal-stepper>

</div>

<div class="ecamp-modal-footer">
    <button mat-stroked-button color="primary" class="btns-group"
        [disabled]="step1Form.invalid || step2Form.invalid || step4Form.invalid" (click)="save()">
        {{ 'CAMPS.MODAL.SAVE' | translate | uppercase }}
    </button>
    <button mat-stroked-button (click)="closeModal()">
        {{ 'CAMPS.MODAL.CANCEL' | translate }}
    </button>
</div>