<div class="container-fluid">

  <!-- Filters -->
  <div class="row">
    <div class="col-md-12 ecamp-btns">
      <button mat-fab color="primary" (click)="filterCamps()">
        <i class="fas fa-filter icon"></i>
        <span *ngIf="filters.active" class="active-badge"></span>
      </button>
    </div>
  </div>

  <app-ecamp-loading [isBuildLoader]="true" *ngIf="loading$ | async"></app-ecamp-loading>

  <div class="row" *ngIf="camps$ | async as camps">
    <!-- Camps -->
    <app-small-camp class="col-md-6 col-xl-4 small-card" *ngFor="let camp of camps; let i = index" [camp]="camp"
      [index]="i" [isPrivate]="false" (click)="goToCampDetail(camp)">
    </app-small-camp>
    <!-- Pagination -->
    <div class="col-md-12 ecamp-pagination" *ngIf="total$ | async as total">
      <button mat-raised-button *ngIf="showMore(camps, total)" (click)="getCamps(true, camps)">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>

  <ng-container *ngIf="!(loading$ | async) && !(camps$ | async).length">
    <app-ecamp-empty-state [message]="'CAMPS.NOT-CAMPS'"></app-ecamp-empty-state>
  </ng-container>

</div>