<!-- TITLE -->
<app-crm-section-title [title]="'PARTICIPANTS.TITLE'"></app-crm-section-title>

<!-- PARTICIPANTS -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12 ecamp-btns">
      <!-- <button mat-fab color="primary">
        <i class="fas fa-filter icon"></i>
        <span *ngIf="filters.active" class="active-badge"></span>
      </button> -->
    </div>
  </div>

  <app-ecamp-loading [isBuildLoader]="true" *ngIf="loading$ | async"></app-ecamp-loading>

  <div class="row" *ngIf="participants$ | async as participants">
    <div class="col-md-12" *ngIf="participants.length">
      <app-child-table [childs]="participants"></app-child-table>
    </div>
  </div>

  <ng-container *ngIf="!(loading$ | async) && !(participants$ | async).length">
    <app-ecamp-empty-state [message]="'PARTICIPANTS.NOT-PARTICIPANTS'"></app-ecamp-empty-state>
  </ng-container>

</div>