<div class="ecamp-login">

  <div class="ecamp-login-header"></div>

  <div class="container">
    <div class="row">
      <div class="ecamp-form">
        <app-login-form (login)="login($event)" (changePassword)="goTochangePassword()"></app-login-form>
      </div>
    </div>
  </div>

</div>