<!-- TITLE -->
<app-crm-section-title [title]="title"></app-crm-section-title>

<!-- USERS -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12 ecamp-btns">
      <button *ngIf="isInstructor()" mat-fab color="primary" (click)="newUser()">
        <i class="fas fa-plus-circle"></i>
      </button>
      <!-- <button mat-fab color="primary" (click)="filterCamps()">
          <i class="fas fa-filter icon"></i>
          <span *ngIf="filters.active" class="active-badge"></span>
        </button> -->
    </div>
  </div>

  <app-ecamp-loading [isBuildLoader]="true" *ngIf="loading$ | async"></app-ecamp-loading>

  <div class="row" *ngIf="users$ | async as users">
    <div class="col-md-12" *ngIf="users.length">
      <app-user-table [role]="userFilters.role" [users]="users" (editUser)="editUser($event)"
        (deleteUser)="deleteUser($event)">
      </app-user-table>
    </div>
  </div>

  <ng-container *ngIf="!(loading$ | async) && !(users$ | async).length">
    <app-ecamp-empty-state [message]="'USERS.NOT-USERS'"></app-ecamp-empty-state>
  </ng-container>

</div>