<div class="ecamp-form-header">
    <i class="fas fa-user-circle"></i>
    <p>{{ 'LOGIN.FORM.HEADER' | translate | uppercase }}</p>
</div>

<!-- Login form -->
<div class="container-fluid ecamp-form-body">
    <form class="row" [formGroup]="loginForm">
        <mat-form-field class="col-md-12">
            <input type="text" matInput placeholder="{{ 'LOGIN.FORM.EMAIL' | translate }}" formControlName="email">
        </mat-form-field>
        <div class="col-md-12">
            <app-ecamp-input-error [control]="email" [message]="'LOGIN.FORM.ERRORS.INCORRECT-EMAIL'">
            </app-ecamp-input-error>
        </div>
        <mat-form-field class="col-md-12">
            <input [type]="getPasswordType()" matInput placeholder="{{ 'LOGIN.FORM.PASSWORD' | translate }}"
                formControlName="pass">
            <i matSuffix class="{{ iconVisivility }}" (click)="changeVisibilityPassword()"></i>
        </mat-form-field>
        <div class="col-md-12">
            <app-ecamp-input-error [control]="pass" [message]="'LOGIN.FORM.ERRORS.INCORRECT-PASSWORD'">
            </app-ecamp-input-error>
        </div>
        <p class="col-md-12" (click)="goToChangePassword()">{{ 'LOGIN.FORM.FORGET-PASSWORD' | translate }}</p>
        <button mat-raised-button class="loginForm.valid ? ecamp-btn-success : ecamp-btn-disabled"
            [disabled]="!loginForm.valid" (click)="send()">{{ 'LOGIN.FORM.BUTTON' | translate | uppercase }}</button>
    </form>
</div>