@import '../../../../styles/variables.scss';

.ecamp-footer {
    
    background-color: map-get($colors, color-blue);
    text-align: center;
    font-weight: bold;

    p {
        margin: 0;
        padding: 5px;
    }
}