.ecamp-alert {

    &-title {
        text-align: center;
    }

    &-content {}

    &-btns {

        button {
            margin: auto;
        }
    }
}

.ecamp-info {

    &-success {
        text-align: center;
        font-weight: bold;
        background: map-get($colors , success);
        border: 3px solid black;
        color: black;
    }

    &-error {
        text-align: center;
        font-weight: bold;
        background: map-get($colors , danger);
        border: 3px solid black;
        color: black;
    }
}