.modalities {
    width: 100%;
    color: #fff;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: initial;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modality-0, .modality-4, .modality-8, .modality-12 {
    background-color: map-get($colors , color-blue);
}

.modality-0-disabled, .modality-4-disabled, .modality-8-disabled, .modality-12-disabled {
    color: map-get($colors , color-blue);
    background-color: #fff;
    border: 1px solid map-get($colors , color-blue);
}

.modality-1, .modality-5, .modality-9, .modality-13 {
    background-color: map-get($colors , color-green);
}

.modality-1-disabled, .modality-5-disabled, .modality-9-disabled, .modality-13-disabled {
    color: map-get($colors , color-green);
    background-color: #fff;
    border: 1px solid map-get($colors , color-green);
}

.modality-2, .modality-6, .modality-10, .modality-14 {
    background-color: map-get($colors , color-orange);
}

.modality-2-disabled, .modality-6-disabled, .modality-10-disabled, .modality-14-disabled {
    color: map-get($colors , color-orange);
    background-color: #fff;
    border: 1px solid map-get($colors , color-orange);
}

.modality-3, .modality-7, .modality-11, .modality-15 {
    background-color: map-get($colors , color-red);
}

.modality-3-disabled, .modality-7-disabled, .modality-11-disabled, .modality-15-disabled {
    color: map-get($colors , color-red);
    background-color: #fff;
    border: 1px solid map-get($colors , color-red);
}

.active-badge {
    position: absolute;
    top: 0px;
    background-color: map-get($colors , color-red);
    width: 15px;
    height: 15px;
    border-radius: 50%;  
}