.ecamp-card {

    width: 100%;
    margin-bottom: 25px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    &-header {
        height: 130px;
        padding: 20px;
        
        h4 {
            font-weight: bold;
        }
    }

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &-body {
        height: auto;
        padding: 20px;
        border-bottom: 1px solid gainsboro;
        
        .ecamp-card-content {
            display: flex;
            margin-bottom: 8px;

            h6 {
                margin: 0;
                padding: 5px;
            }
        }
    }

    &-modalities {
        padding-top: 15px; 
        padding-bottom: 15px; 
    }

    &-footer {

        display: flex;
        text-align: center;
    
        &-btn-edit {
            width: 50%;
            border: 2px solid map-get($colors, color-orange);
            padding: 10px 0 10px 0;
            
            button {
                width: 100%; 
                color: map-get($colors, color-orange);
            }
        }

        &-btn-edit:hover {
            background-color: map-get($colors, color-orange-shadow);
        }

        &-btn-delete {
            width: 50%;
            border: 2px solid map-get($colors, color-red);
            padding: 10px 0 10px 0;

            button {
                width: 100%; 
                color: map-get($colors, color-red);
            }
        }

        &-btn-delete:hover {
            background-color: map-get($colors, color-red-shadow);
        }
    }
}