/** ---------- Angular Material ---------- **/

body {

    /** ----- Text ----- **/

    .mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
        font-family: 'Nunito-Bold', 'Montserrat-Bold', sans-serif;
    }

    .mat-button-toggle {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-card { 
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-checkbox {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-table { 
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-header-cell {
        font-family: 'Nunito-Bold', 'Montserrat-Bold', sans-serif;
        font-size: 16px;
    }

    .mat-cell, .mat-footer-cell {
        font-size: 14px;
    }

    .mat-calendar {
        font-family: 'Nunito-Bold', 'Montserrat-Bold', sans-serif;
    }

    .mat-dialog-title {
        font: 500 20px/32px 'Nunito-Bold', 'Montserrat-Bold', sans-serif;
    }

    .mat-expansion-panel-header {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-expansion-panel-content {
        font: 400 14px/20px 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-form-field {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-menu-item {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-paginator, .mat-paginator-page-size .mat-select-trigger {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-radio-button {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-select {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-slide-toggle-content {
        font: 400 14px/20px 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-slider-thumb-label-text {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-stepper-horizontal, .mat-stepper-vertical {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-tab-group {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-tab-label, .mat-tab-link {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
        font-family: 'Nunito-Bold', 'Montserrat-Bold', sans-serif;
    }

    .mat-tooltip {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-list-item {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-list-option {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-list .mat-subheader, .mat-nav-list .mat-subheader, .mat-selection-list .mat-subheader {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-list[dense] .mat-subheader, .mat-nav-list[dense] .mat-subheader, .mat-selection-list[dense] .mat-subheader {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-option {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-optgroup-label {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-simple-snackbar {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    .mat-tree {
        font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
    }

    /** ----- Text ----- **/

    /** ----- Datepicker ----- **/

    .cdk-overlay-container {
        z-index: 2000;
    }

    .mat-datepicker-content .mat-calendar {
        width: 100%;
        height: 100%;
    }

    /** ----- Datepicker ----- **/

    /** ----- Color ----- **/

    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: map-get($colors , color-blue);
    }

    .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
        color: map-get($colors , color-green);
    }

    .mat-button.mat-primary .mat-button-focus-overlay, .mat-icon-button.mat-primary .mat-button-focus-overlay, .mat-stroked-button.mat-primary .mat-button-focus-overlay {
        background-color: map-get($colors , color-green-shadow);
    }

    .mat-button.mat-accent, .mat-icon-button.mat-accent, .mat-stroked-button.mat-accent {
        color: map-get($colors , color-orange);
    }

    .mat-button.mat-accent .mat-button-focus-overlay, .mat-icon-button.mat-accent .mat-button-focus-overlay, .mat-stroked-button.mat-accent .mat-button-focus-overlay {
        background-color: map-get($colors , color-orange-shadow);
    }

    .mat-button.mat-warn, .mat-icon-button.mat-warn, .mat-stroked-button.mat-warn {
        color: map-get($colors , color-red);
    }

    .mat-button.mat-warn .mat-button-focus-overlay, .mat-icon-button.mat-warn .mat-button-focus-overlay, .mat-stroked-button.mat-warn .mat-button-focus-overlay {
        background-color: map-get($colors , color-red-shadow);
    }

    .mat-stroked-button[disabled] {
        background-color: #fff;
    }

    .mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
        background-color: map-get($colors , color-blue);
    }

    .mat-header-cell {
        color: black;
    }

    .mat-calendar-body-selected {
        background-color: map-get($colors , color-green);
    }

    .mat-datepicker-toggle-active {
        color: map-get($colors , color-green);
    }

    .mat-form-field.mat-focused .mat-form-field-label {
        color: map-get($colors , color-blue);
    }

    .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: map-get($colors , color-blue);
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: map-get($colors , color-red);
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker, .mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent {
        color: map-get($colors , color-red);
    }

    .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
        color: map-get($colors , color-red);
    }

    .mat-error {
        color: map-get($colors , color-red);
        font-family: 'Nunito-Bold', 'Montserrat-Bold', sans-serif;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: map-get($colors , color-orange);
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: map-get($colors , color-orange);
    }

    .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
        background-color: rgba(255,161,48,.26);
    }

    .mat-step-header .mat-step-icon {
        background-color: map-get($colors , color-blue);
    }

    .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill {
        background-color: map-get($colors , color-orange);
    }

    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: map-get($colors , color-orange);
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: map-get($colors , color-green);
    }

    .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
        background-color: map-get($colors , color-green-shadow);
    }

    .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background-color: map-get($colors , color-blue);
    }

    /** ----- Color ----- **/

    /** Slider **/
    .mat-slider-horizontal {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    /** ----- Stepper ----- **/

    .mat-horizontal-stepper-header {
        display: initial;
        text-align: center;
    }

    .mat-horizontal-stepper-header-container {
        padding: 12px;
    }

    .mat-horizontal-content-container {
        padding: 12px 24px 12px 24px;
    }

    .mat-horizontal-stepper-header .mat-step-icon, .mat-horizontal-stepper-header .mat-step-icon-not-touched {
        margin: auto;
    }

    .mat-step-header .mat-step-icon {
        background-color: map-get($colors , color-blue);
    }

    /** ----- Stepper ----- **/

    .mat-expansion-panel-body {
        padding: 0;
    }

    .mat-radio-label {
        margin-right: 8px;
        margin-left: 8px;
    }

    /** ----- Tabs ----- */
    .mat-tab-labels {
        justify-content: space-between;
    }
}

/** ---------- Angular Material ---------- **/