.input-full-width {
    width: 100%;
}

.input-file {
    padding-bottom: 20px;
}

.ecamp-form {

    width: 500px;
    margin: auto;
    padding: 15px;
    position: relative;
    bottom: 150px;
    background-color: map-get($colors , color-white);

    &-header {
        
        text-align: center;

        i {
            font-size: 100px;
            color: map-get($colors , primary);
        }

        p {
            font-size: 30px;
        }
    }

    &-body {

        i {
            cursor: pointer;
        }

        button {
            margin: auto;
            margin-top: 10px;
            background-color: map-get($colors , success);
            color: map-get($colors , color-white);
        }

        p {
            color: map-get($colors , primary);
            cursor: pointer;
            font-size: 15px;
            font-weight: bold;
            text-align: right;
        }
    }
}