.ecamp-icon {

    &-primary {
        color: map-get($colors, primary);
    }

    &-primary:hover {
        background-color: map-get($colors, color-blue-shadow);
    }

    &-success {
        color: map-get($colors, success);
    }

    &-success:hover {
        background-color: map-get($colors, color-green-shadow);
    }

    &-warning {
        color: map-get($colors, warning);
    }

    &-warning:hover {
        background-color: map-get($colors, color-orange-shadow);
    }

    &-danger {
        color: map-get($colors, danger);
    }

    &-danger:hover {
        background-color: map-get($colors, color-red-shadow);
    }
}