@import 'fonts';
@import 'variables';
@import 'typography';
@import 'ecamp-theme';
@import 'buttons';
@import 'tables';
@import 'forms';
@import 'badges';
@import 'modals';
@import 'cards';
@import 'pagination';
@import 'alerts';
@import 'icons';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: map-get($colors , color-default);
    font-family: 'Nunito-Light', 'Montserrat-Light', sans-serif;
}