.ecamp-modal-lg {

    // Mobiles
    @media (min-width: 320px) {
        max-width: 90%;
    }

    // Tablets & Desktops
    @media(min-width: 768px) {
        max-width: 70%;
    }
}

.ecamp-modal-md {

    // Mobiles
    @media (min-width: 320px) {
        max-width: 90%;
    }

    // Tablets & Desktops
    @media(min-width: 768px) {
        max-width: 60%;
    }
}

.ecamp-modal-sm {

    // Mobiles
    @media (min-width: 320px) {
        max-width: 90%;
    }

    // Tablets & Desktops
    @media(min-width: 768px) {
        max-width: 30%;
    }
}

.ecamp-modal {

    margin: 50px auto 3% auto;

    /*margin-top: 50px;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;*/
    overflow: auto;

    &-header {
        padding: 24px;
        text-align: center;

        h1 {
            font-weight: bold;
        }
    }

    &-body {
        padding: 12px 24px 12px 24px;
        text-align: left;

        .radio-btns-group {
            display: flex;

            h5 {
                margin-right: 8px;
            }
        }

        h4, mat-checkbox {
            font-weight: bold;
        }

        .media-icon {
            padding: 5px;
        }

        .msg-error {
            padding: 15px 0px;
        }
    }

    &-footer {
        padding: 12px 24px 12px 24px;
        border-top: 1px solid map-get($colors , color-default);
        text-align: right;

        .btns-group {
            margin-right: 10px;
        }
    }
}