.ecamp-table {

    &-head, &-body {
        background-color: #fff;
        border-bottom: 1px solid gainsboro;

        .ecamp-table-col {
            width: 10%;
            padding: 15px 0px;
            text-align: center;
            white-space: initial;
            overflow: hidden;
            text-overflow: ellipsis;
        }
 
        .ecamp-table-col:nth-child(3),
        .ecamp-table-col:nth-child(4) {
            width: 30%;
        }
    }

    &-head {
        font-family: 'Nunito-Bold', 'Montserrat-Bold', sans-serif;
    }
}