h1, h2, h3, h4, h5, h6, p {
    font-family: 'Nunito-ExtraLight', 'Montserrat-ExtraLight', sans-serif;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 12px;
}

.title {
    font-family: 'Nunito-Bold', 'Montserrat-Bold', sans-serif;
}

i {
    font-size: 20px;
}

/*.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }*/