$colors: (
    color-blue: #61affe,
    color-green: #49cc90,
    color-orange: #fca130,
    color-red: #f93e3e,
    color-default: #F6F6F6,
    color-white: #fff,
    color-blue-shadow: rgba(97,175,254,.1),
    color-green-shadow:rgba(73,204,144,.1),
    color-orange-shadow: rgba(252,161,48,.1),
    color-red-shadow: rgba(249,62,62,.1),
    disabled: #808080,
    primary: #61affe,
    success: #49cc90,
    warning: #fca130,
    danger: #f93e3e
);

// Mobiles & desktops

/*
    320px (Mobile)
    576px (Mobile)
    768px (Tablet)
    992px  (Desktop)
    1200px (Desktop)
*/