<div class="ecamp-alert">

  <h1 mat-dialog-title class="ecamp-alert-title">{{ data.title | translate }}</h1>

  <div mat-dialog-content class="ecamp-alert-content">
    {{ data.subtitle | translate }}
  </div>

  <div mat-dialog-actions class="ecamp-alert-btns">
    <button mat-button [mat-dialog-close]="true">{{ 'ALERT.ACCEPT' | translate }}</button>
    <button mat-button *ngIf="isConfirmAlert()" [mat-dialog-close]="false">{{ 'ALERT.CANCEL' | translate }}</button>
  </div>

</div>