<!-- TITLE -->
<app-crm-section-title [title]="title"></app-crm-section-title>

<!-- CAMPS -->
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 ecamp-btns">
            <button mat-fab color="primary" (click)="newCamp()">
                <i class="fas fa-plus-circle"></i>
            </button>
            <!-- <button mat-fab color="primary" (click)="filterCamps()">
            <i class="fas fa-filter icon"></i>
            <span *ngIf="filters.active" class="active-badge"></span>
          </button> -->
        </div>
    </div>

    <app-ecamp-loading [isBuildLoader]="true" *ngIf="loading$ | async"></app-ecamp-loading>

    <div class="row" *ngIf="camps$ | async as camps">
        <app-small-camp class="col-md-12 col-lg-6 col-xl-4 small-card" *ngFor="let camp of camps; let i = index"
            [index]="i" [camp]="camp" [isPrivate]="true" (update)="createOrUpdateCamp($event)"
            (delete)="deleteCamp($event, i)">
        </app-small-camp>
    </div>

    <ng-container *ngIf="!(loading$ | async) && !(camps$ | async).length">
        <app-ecamp-empty-state [message]="'CAMPS.NOT-CAMPS'"></app-ecamp-empty-state>
    </ng-container>

</div>