@import '../../../../styles/variables.scss';

.ecamp-img {

    padding: 25px 15px 25px 0px;

    padding-top: 25px;
    padding-bottom: 25px;
    text-align: right;

    i {
        color: map-get($colors, color-red);
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}