<input type="file" class="input-full-width" placeholder="{{ 'CAMPS.MODAL.UPLOAD-IMAGE' | translate }}"
    [disabled]="isFull() || !code" (change)="addImage($event)">
<mat-error class="msg-error" *ngIf="!code">{{ 'CAMPS.MODAL.EMPTY-CODE' | translate }}</mat-error>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-3 ecamp-img" *ngFor="let image of images; let i = index">
            <i class="fas fa-trash-alt ecamp-btn-icon" (click)="deleteImage(i)"></i>
            <img src="{{ image.url }}" alt="{{ image.alt }}">
        </div>
    </div>
</div>