<div class="container">

  <div class="row camp-detail" *ngIf="camp$ | async as camp; else noCamp">

    <!-- Carousel + modalities -->
    <div class="col-md-6 camp-detail-inscription">
      <div class="container-fluid">

        <div class="row">
          <!-- Carousel -->
          <div class="col-md-12 camp-carousel">
            <app-ecamp-carousel [index]="0" [images]="camp.images"></app-ecamp-carousel>
          </div>
          <!-- Modalities -->
          <app-modality-badge class="col-md-6" *ngFor="let modality of camp.modalities" [id]="modality.id"
            [name]="modality.name" [checked]="modality.checked" [canCheck]="false">
          </app-modality-badge>
        </div>

        <div class="row">
          <div class="col-md-12 camp-button">
            <button mat-raised-button color="primary"
              (click)="openInscriptionModal(camp)">{{ 'CAMPS.DETAIL.SIGN-UP' | translate | uppercase }}</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Information -->
    <div class="col-md-6 camp-detail-information">
      <div class="container-fluid">
        <div class="row">

          <!-- Title & description -->
          <div class="col-md-12">
            <h1>{{ camp.name }}</h1>
            <p>{{ camp.description }}</p>
            <hr>
          </div>

          <!-- Data -->
          <div class="col-md-12">
            <h4>{{ 'CAMPS.DETAIL.INFORMATION' | translate }}
              <i class="far fas fa-file-pdf ecamp-btn-pdf" *ngIf="camp.pdf" (click)="openPDF(camp)"></i>
            </h4>
            <div class="camp-detail-information-data">
              <div class="camp-data">
                <p>{{ 'CAMPS.SMALL-CAMP.AGE' | translate }}</p>
                <p>{{ camp.age.min }} - {{ camp.age.max }} {{ 'CAMPS.SMALL-CAMP.YEARS' | translate }}</p>
              </div>
              <div class="camp-data">
                <p><i class="fas fa-home icon"></i></p>
                <p>{{ camp.address }} ({{ camp.province }})</p>
              </div>
              <div class="camp-data">
                <p><i class="fas fa-calendar-alt icon"></i></p>
                <p>{{ camp.date.start.time }} - {{ camp.date.end.time  }}
                  ({{ camp.numDays }} {{ 'CAMPS.SMALL-CAMP.DAYS' | translate }})
                </p>
              </div>
              <div class="camp-data">
                <p><i class="fas fa-users icon"></i></p>
                <p>{{ camp.numPeople }} {{ 'CAMPS.SMALL-CAMP.PEOPLE' | translate }}</p>
              </div>
              <div class="camp-data">
                <p><i class="fas fa-euro-sign icon"></i></p>
                <p>{{ camp.price }}</p>
              </div>
            </div>
            <hr>
          </div>

          <!-- Observations -->
          <div *ngIf="camp.observations" class="col-md-12">
            <h4>{{ 'CAMPS.DETAIL.OBSERVATIONS' | translate }}</h4>
            <p>{{ camp.observations }}</p>
          </div>

        </div>
      </div>
    </div>

  </div>

  <ng-template #noCamp>
    <app-ecamp-empty-state [message]="'CAMPS.DETAIL.NOT-CAMP'"></app-ecamp-empty-state>
  </ng-template>

</div>