.camp-detail {

    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 30px;

    &-inscription {

        .camp-carousel, .camp-button {

            padding: 30px 15px 30px 15px;

            button {
                width: 100%;
            }
        }
    }

    &-information {
    
        h1 {
            margin: 0;
            padding: 30px 0px 30px 0px;
            font-weight: bold; 
        }

        p {
            font-size: 15px;
        }

        h4 {
            font-weight: bold;
        }

        .camp-data {
            display: flex;
            
            p {
                margin: 0;
                padding: 5px;
            }
        }
    }
}