@import '../../../../styles/variables.scss';

.ecamp-toolbar {
    
    background-color: map-get($colors, color-blue);
    text-align: right;
    padding: 0;

    span {
        flex: 1 1 auto;
    }

    .toolbar-languges {
        padding-right: 15px;
    }

    .toolbar-btns {

        display: flex;

        i {
            padding: 6px 15px 6px 0px;
            color: #fff;
        }
    }
}