<mat-toolbar class="ecamp-toolbar">

  <span></span>

  <div class="toolbar-languges">
    <select class="form-control" [(ngModel)]="lang" (ngModelChange)="setLanguage($event)">
      <option *ngFor="let language of languages" value="{{ language.code }}"> {{ language.name | translate }} </option>
    </select>
  </div>

  <div class="toolbar-btns">
    <i class="fas fa-home ecamp-btn-icon" (click)="goToHome()"></i>
    <div *ngIf="userLogged$ | async as userLogged">
      <i class="fas fa-user ecamp-btn-icon" *ngIf="userLogged.isLogged" (click)="goToAdmin()"></i>
      <i class="fas fa-sign-out-alt ecamp-btn-icon" *ngIf="userLogged.isLogged" (click)="logout()"></i>
    </div>
  </div>

</mat-toolbar>