<div class="user-modal">

  <div class="ecamp-modal-header">
    <h1 *ngIf="!user._id">{{ 'USERS.MODAL.NEW-USER' | translate }}</h1>
    <h1 *ngIf="user._id">{{ 'USERS.MODAL.EDIT-USER' | translate }}</h1>
  </div>

  <div class="ecamp-modal-body container-fluid">

    <form [formGroup]="userForm">

      <!-- Sex -->
      <div class="row">
        <div class="col-md-12 user-modal-radio">
          <h5>{{ 'USERS.MODAL.SEX' | translate }}:</h5>
          <mat-radio-group formControlName="sex">
            <mat-radio-button value="F">{{ 'USERS.MODAL.WOMAN' | translate }}</mat-radio-button>
            <mat-radio-button value="M">{{ 'USERS.MODAL.MAN' | translate }}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <!-- DNI, age -->
      <div class="row">
        <div class="col-md-10">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="{{ 'USERS.MODAL.DNI' | translate }}" formControlName="dni">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="input-full-width">
            <input type="number" matInput placeholder="{{ 'USERS.MODAL.AGE' | translate }}" formControlName="age">
          </mat-form-field>
        </div>
      </div>

      <!-- Name, surnames -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="{{ 'USERS.MODAL.NAME' | translate }}" formControlName="name">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="{{ 'USERS.MODAL.SURNAMES' | translate }}"
              formControlName="surnames">
          </mat-form-field>
        </div>
      </div>

      <!-- Phone, email -->
      <div class="row" *ngIf="!isChild()">
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="{{ 'USERS.MODAL.PHONE' | translate }}" formControlName="phone">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="{{ 'USERS.MODAL.EMAIL' | translate }}" formControlName="email">
          </mat-form-field>
        </div>
      </div>

      <!-- Address, cp -->
      <div class="row">
        <div class="col-md-9">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="{{ 'USERS.MODAL.ADDRESS' | translate }}" formControlName="address">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="{{ 'USERS.MODAL.CP' | translate }}" formControlName="cp">
          </mat-form-field>
        </div>
      </div>

      <!-- Location, Province -->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="{{ 'USERS.MODAL.LOCATION' | translate }}"
              formControlName="location">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="input-full-width">
            <input type="text" matInput placeholder="{{ 'USERS.MODAL.PROVINCE' | translate }}"
              formControlName="province">
          </mat-form-field>
        </div>
      </div>

      <!-- Instructor info -->
      <div *ngIf="isInstructor()">

        <!-- CV -->
        <div class="row">
          <div class="col-md-6">
            <input type="file" class="input-file input-full-width" placeholder="{{ 'USERS.MODAL.CV' | translate }}"
              (change)="setCv($event)">
          </div>
          <div class="col-md-6 user-cv">
            <i class="far fa-file-alt ecamp-btn-icon" *ngIf="showCv" (click)="openCv()"></i>
          </div>
        </div>

        <!-- Camp -->
        <div class="row" *ngIf="camps$ | async as camps">
          <div class="col-md-12 user-modal-radio">
            <h5>{{ 'USERS.MODAL.CAMP' | translate }}:</h5>
            <mat-radio-group [(ngModel)]="user.camp.campType" [ngModelOptions]="{standalone: true}"
              (change)="changeCampType($event)">
              <mat-radio-button value="1">{{ 'CAMPS.MODAL.AUTONOMOUS-CAMP' | translate }}</mat-radio-button>
              <mat-radio-button value="2">{{ 'CAMPS.MODAL.EXCHANGE-CAMP' | translate }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-md-12">
            <mat-form-field class="input-full-width">
              <mat-select [(ngModel)]="user.camp.camp_id" [ngModelOptions]="{standalone: true}"
                placeholder="{{ 'USERS.MODAL.CAMP' | translate }}" (selectionChange)="selectCamp($event, camps)">
                <mat-option *ngFor="let camp of camps" [value]="camp._id">
                  {{ camp.code }} --- {{ camp.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>

      <!-- Child info -->
      <div class="row" *ngIf="isChild()">
        <div class="col-md-12">
          <mat-form-field class="input-full-width">
            <textarea matInput placeholder="{{ 'USERS.MODAL.ALLERGIES-INTOLERANCES' | translate }}"
              formControlName="intolerances"></textarea>
          </mat-form-field>
        </div>
      </div>

    </form>

  </div>

  <div class="ecamp-modal-footer">
    <button mat-stroked-button color="primary" class="btns-group" [disabled]="!userForm.valid"
      (click)="save()">{{ 'USERS.MODAL.SAVE' | translate | uppercase }}</button>
    <button mat-stroked-button (click)="cancel()">{{ 'USERS.MODAL.CANCEL' | translate | uppercase }}</button>
  </div>

</div>