<div class="ecamp-modal-header">
    <h1>{{ 'CAMPS.MODAL.FILTERS' | translate }}</h1>
</div>

<div class="ecamp-modal-body">
    <form [formGroup]="filtersForm">
        <div class="container-fluid">

            <!-- ·········· Name ·········· -->
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="input-full-width">
                        <input type="text" matInput placeholder="{{ 'CAMPS.MODAL.NAME' | translate }}"
                            formControlName="name">
                        <!-- <mat-error *ngIf="dni.invalid">Formato del dni incorrecto</mat-error> -->
                    </mat-form-field>
                </div>
            </div>

            <!-- ·········· Dates ·········· -->
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <mat-form-field class="input-full-width">
                        <input matInput [matDatepicker]="startPicker"
                            placeholder="{{ 'CAMPS.MODAL.START-DATE' | translate }}" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                        <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-6">
                    <mat-form-field class="input-full-width">
                        <input matInput [matDatepicker]="endPicker"
                            placeholder="{{ 'CAMPS.MODAL.END-DATE' | translate }}" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                        <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                    <mat-error *ngIf="endDate.dirty && !isValidDate()">
                        {{ 'CAMPS.MODAL.ERRORS.INVALID-DATES' | translate }}
                    </mat-error>
                </div>
            </div>

            <!-- ·········· CCAA & Province ·········· -->
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <mat-form-field class="input-full-width">
                        <mat-select placeholder="{{ 'CAMPS.MODAL.CCAA' | translate }}" formControlName="ccaa">
                            <mat-option *ngFor="let ccaa of autonomousCommunities" [value]="ccaa.id">
                                {{ ccaa.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-md-6">
                    <mat-form-field class="input-full-width">
                        <mat-select placeholder="{{ 'CAMPS.MODAL.PROVINCE' | translate }}" formControlName="province">
                            <mat-option *ngFor="let province of provinces" [value]="province">
                                {{ province }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!-- ·········· Age & Price ·········· -->
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h5>{{ 'CAMPS.MODAL.MAX-AGE' | translate }}</h5>
                </div>
                <div class="col-md-6">
                    <mat-slider class="input-full-width" [min]="12" [max]="18" [step]="1" [thumbLabel]="true"
                        [tickInterval]="3" formControlName="maxAge">
                    </mat-slider>
                </div>
                <div class="col-sm-12 col-md-12">
                    <h5>{{ 'CAMPS.MODAL.MAX-PRICE' | translate }} (€)</h5>
                </div>
                <div class="col-md-6">
                    <mat-slider class="input-full-width" [min]="0" [max]="200" [step]="1" [thumbLabel]="true"
                        [tickInterval]="10" formControlName="price">
                    </mat-slider>
                </div>
            </div>

            <!-- ·········· Modalities ·········· -->
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h5>{{ 'CAMPS.MODAL.MODALITIES' | translate }}</h5>
                </div>
                <app-modality-badge class="col-md-4" *ngFor="let modality of allModalities" [id]="modality.id"
                    [name]="modality.name" [checked]="modality.checked" [canCheck]="true"
                    (click)="selectModality(modality)">
                </app-modality-badge>
            </div>

        </div>
    </form>
</div>

<div class="ecamp-modal-footer">
    <button mat-stroked-button color="primary" class="btns-group" [disabled]="endDate.dirty && !isValidDate()"
        (click)="applyFilters()">
        {{ 'CAMPS.MODAL.APPLY' | translate | uppercase }}
    </button>
    <button mat-stroked-button *ngIf="filters.active" (click)="clearFilters()">
        {{ 'CAMPS.MODAL.CLEAN-FILTERS' | translate | uppercase }}
    </button>
    <button mat-stroked-button *ngIf="!filters.active" (click)="closeModal()">
        {{ 'CAMPS.MODAL.CANCEL' | translate | uppercase }}
    </button>
</div>