<div class="loading-wrapper" *ngIf="!isBuildLoader && (loading$ | async)">
  <div class="loading-icon">
    <mat-progress-spinner [mode]="'indeterminate'" [value]="50">
    </mat-progress-spinner>
  </div>
  <div class="loading-icon">{{ 'LOADING' | translate }}</div>
</div>

<div class="loading-wrapper" *ngIf="isBuildLoader">
  <div class="loading-icon">
    <mat-progress-spinner [mode]="'indeterminate'" [value]="50">
    </mat-progress-spinner>
  </div>
  <div class="loading-icon">{{ 'LOADING' | translate }}</div>
</div>