.loading {

    &-wrapper {
        z-index: 100000;
        position: fixed;
        background-color: rgba(black, 0.8);
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
    }

    &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
}