<div id="crm-navigation">

  <div class="menu">

    <!-- USER PROFILE IMAGE -->
    <div class="container-fluid">
      <div class="row" *ngIf="profile$ | async as profile">
        <div class="col-md-12 navigation-edit-profile">
          <i class="fas fa-pen ecamp-btn-icon" (click)="editProfile(profile)"></i>
        </div>

        <div class="col-md-12 navigation-profile">
          <div class="user-profile-image">
            <input id="profile-img" type="file" class="input-file" (change)="editAvatar($event, profile)">
            <label for="profile-img" *ngIf="profile.avatar">
              <img [src]="profile.avatar.secure_url || profile.avatar.url" alt="user-profile-image">
            </label>
          </div>
          <br>
          <h3>{{ profile.name }} {{ profile.surnames }} </h3>
        </div>

      </div>
    </div>

    <!-- NAVIGATION -->
    <mat-accordion [multi]="true">

      <!-- BILLS -->
      <mat-divider></mat-divider>
      <mat-list role="list" *ngIf="isAdmin" class="navigation-panel" (click)="goToBills()">
        <div role="listitem" class="navigation-panel-item">
          <h3>{{ 'CRM.NAVIGATION.BILLS' | translate }}</h3>
        </div>
      </mat-list>

      <!-- CAMPS -->
      <mat-expansion-panel class="navigation-extension-panel" *ngIf="isAdmin">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>{{ 'CRM.NAVIGATION.CAMPS' | translate }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list role="list" class="navigation-list">
          <a mat-button class="navigation-link" (click)="goToCamps(1)">
            <mat-list-item role="listitem" class="navigation-list-item">
              <h4>{{ 'CAMPS.TYPE.AUTONOMOUS' | translate }}</h4>
            </mat-list-item>
          </a>
          <mat-divider></mat-divider>
          <a mat-button class="navigation-link" (click)="goToCamps(2)">
            <mat-list-item role="listitem" class="navigation-list-item">
              <h4>{{ 'CAMPS.TYPE.EXCHANGES' | translate }}</h4>
            </mat-list-item>
          </a>
        </mat-list>

      </mat-expansion-panel>

      <!-- USERS -->
      <mat-expansion-panel class="navigation-extension-panel" *ngIf="isAdmin">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>{{ 'CRM.NAVIGATION.USERS' | translate }}</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list role="list" class="navigation-list">
          <a mat-button class="navigation-link" (click)="goToUsers(1)">
            <mat-list-item role="listitem" class="navigation-list-item">
              <h4>{{ 'USERS.TYPE.PARENTS' | translate }}</h4>
            </mat-list-item>
          </a>
          <mat-divider></mat-divider>
          <a mat-button class="navigation-link" (click)="goToUsers(2)">
            <mat-list-item role="listitem" class="navigation-list-item">
              <h4>{{ 'USERS.TYPE.INSTRUCTORS' | translate }}</h4>
            </mat-list-item>
          </a>
        </mat-list>

      </mat-expansion-panel>

      <!-- PARTICIPANTS -->
      <mat-divider></mat-divider>
      <mat-list role="list" class="navigation-panel" *ngIf="isInstructor" (click)="goToParticipants()">
        <div role="listitem" class="navigation-panel-item">
          <h3>{{ 'CRM.NAVIGATION.PARTICIPANTS' | translate }}</h3>
        </div>
      </mat-list>

      <!-- PROGRAMMINGS -->
      <mat-divider></mat-divider>
      <mat-list role="list" class="navigation-panel" *ngIf="isInstructor" (click)="goToProgrammings()">
        <div role="listitem" class="navigation-panel-item">
          <h3>{{ 'CRM.NAVIGATION.PROGRAMMINGS' | translate }}</h3>
        </div>
      </mat-list>

      <!-- CHARTS -->
      <!-- <mat-divider></mat-divider> -->
      <mat-list role="list" class="navigation-panel" *ngIf="isAdmin" (click)="goToCharts()">
        <div role="listitem" class="navigation-panel-item">
          <h3>{{ 'CRM.NAVIGATION.CHARTS' | translate }}</h3>
        </div>
      </mat-list>

    </mat-accordion>

  </div>

</div>