@import '../../../../styles/variables.scss';

#crm-navigation {
    
    .menu {
        height: auto;
        //height: 900px;
        background-color: #fff;
        border-right: 5px solid gainsboro;
        border-bottom: 5px solid gainsboro;

        .navigation-edit-profile {
            text-align: right;
            padding-top: 10px;

            i {
                color: map-get($colors, color-blue);
                border: 2px solid;
                border-radius: 50%;
                padding: 10px;
            }

            i:hover {
                background-color: rgba(97,175,254,.1)
            }
        }

        .navigation-profile {
            width: 100%;
            height: 100%;
            padding: 10px;
            text-align: center;
            
            .user-profile-image {

                .input-file {
                    width: 0;
                }

                label {
                    width: 150px;
                    height: 150px;
                    margin: auto;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: dotted map-get($colors, color-blue);
                        margin: auto;
                        object-fit: cover;
                    }
                }

                label:hover {
                    border-radius: 50%;
                    background-color: map-get($colors, color-blue);
                }
            }
        }

        .navigation-panel {

            cursor: pointer;

            .navigation-panel-item {
                padding: 8px 24px;
            }

            .navigation-panel-item.is-active {
                color: #fff;
                background-color: map-get($colors, color-blue);
            }
        }

        .navigation-panel:hover {
            background-color: rgba(0, 0, 0, .04);
        }
        
        .navigation-extension-panel { 
            margin: 0;

            .navigation-icon {
                padding-right: 10px;
            }

            .navigation-list {
                background-color: gainsboro;
                padding: 0;

                .navigation-link {
                    width: 100%;
                    padding: 0;
                    text-decoration: none;
                }

                .navigation-link:focus {
                    background-color: map-get($colors, color-blue);

                    mat-list-item {
                        color: #fff;
                    }
                } 
            }
        }
    }
}