@import '../../../../styles/variables.scss';

.free-seats {
    width: fit-content;
    padding: 5px;
    border: 2px solid map-get($colors, color-blue);
    border-style: dotted;

    span {
        color: map-get($colors, color-orange);
    }
}