<div class="ecamp-card">

    <div class="ecamp-card-header">
        <h4>{{ camp.code }} : {{ camp.name }}</h4>
        <h5>{{ camp.installations }}</h5>
        <h5 class="free-seats">{{ 'CAMPS.SMALL-CAMP.FREE-SEATS' | translate }}:
            <strong><span>{{ camp.numPeople - camp.numApplications }}</span></strong>
        </h5>
    </div>

    <app-ecamp-carousel [index]="index" [images]="camp.images"></app-ecamp-carousel>

    <div class="ecamp-card-body">

        <div class="ecamp-card-content">
            {{ 'CAMPS.SMALL-CAMP.AGE' | translate }}:
            <h6>{{ camp.age.min }} - {{ camp.age.max }} {{ 'CAMPS.SMALL-CAMP.YEARS' | translate }}</h6>
        </div>
        <div class="ecamp-card-content">
            <i class="fas fa-home icon"></i>
            <h6>{{ camp.address }} ({{ camp.province }})</h6>
        </div>
        <div class="ecamp-card-content">
            <i class="fas fa-calendar-alt icon"></i>
            <h6>{{ camp.date.start.timestamp | formatDate }} - {{ camp.date.end.timestamp | formatDate }}
                ({{ camp.numDays }} {{ 'CAMPS.SMALL-CAMP.DAYS' | translate }})
            </h6>
        </div>
        <div class="ecamp-card-content">
            <i class="fas fa-users icon"></i>
            <h6>{{ camp.numPeople }} {{ 'CAMPS.SMALL-CAMP.PEOPLE' | translate }}</h6>
        </div>
        <div class="ecamp-card-content">
            <i class="fas fa-euro-sign icon"></i>
            <h6>{{ camp.price }}</h6>
        </div>

    </div>

    <div class="container-fluid ecamp-card-modalities">
        <div class="row">
            <app-modality-badge class="col-md-4" *ngFor="let modality of checkedModalities" [id]="modality.id"
                [name]="modality.name" [checked]="modality.checked" [canCheck]="false">
            </app-modality-badge>
        </div>
    </div>

    <div class="ecamp-card-footer" *ngIf="userLogged$ | async as userLogged">

        <div class="ecamp-card-footer-btn-edit" *ngIf="userLogged.isLogged && isPrivate">
            <button class="ecamp-btn-icon" (click)="editCamp()">
                <i class="fas fa-pencil-alt"></i>
            </button>
        </div>
        <div class="ecamp-card-footer-btn-delete" *ngIf="userLogged.isLogged && isPrivate">
            <button class="ecamp-btn-icon" (click)="removeCamp()">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>
    </div>

</div>