<div class="ecamp-password">

  <div class="ecamp-password-header"></div>

  <div class="container">
    <div class="row">
      <div class="ecamp-form">

        <div class="ecamp-form-header">
          <i class="fas fa-user-circle"></i>
          <p>{{ 'PASSWORD.FORM.HEADER' | translate | uppercase }}</p>
        </div>

        <!-- Password form -->
        <div class="container-fluid ecamp-form-body">
          <form class="row" [formGroup]="passwordForm">
            <!-- Email -->
            <mat-form-field class="col-md-12">
              <input type="text" matInput placeholder="{{ 'PASSWORD.FORM.EMAIL' | translate }}" formControlName="email">
            </mat-form-field>
            <div class="col-md-12">
              <app-ecamp-input-error [control]="email" [message]="'PASSWORD.FORM.ERRORS.INCORRECT-EMAIL'">
              </app-ecamp-input-error>
            </div>
            <!-- Password -->
            <mat-form-field class="col-md-12">
              <input [type]="getPasswordType(1)" matInput placeholder="{{ 'PASSWORD.FORM.NEW-PASSWORD' | translate }}"
                formControlName="newPassword">
              <i matSuffix class="{{ iconVisivilitySelector[1] }}" (click)="changeVisibilityPassword(1)"></i>
            </mat-form-field>
            <div class="col-md-12">
              <app-ecamp-input-error [control]="newPassword" [message]="'PASSWORD.FORM.ERRORS.INCORRECT-PASSWORD'">
              </app-ecamp-input-error>
            </div>
            <!-- Repeat password -->
            <mat-form-field class="col-md-12">
              <input [type]="getPasswordType(2)" matInput
                placeholder="{{ 'PASSWORD.FORM.REPEAT-PASSWORD' | translate }}" formControlName="repeatPassword">
              <i matSuffix class="{{ iconVisivilitySelector[2] }}" (click)="changeVisibilityPassword(2)"></i>
            </mat-form-field>
            <div class="col-md-12">
              <app-ecamp-input-error [control]="repeatPassword" [message]="'PASSWORD.FORM.ERRORS.INCORRECT-PASSWORD'">
              </app-ecamp-input-error>
              <app-ecamp-input-error *ngIf="passwordsInvalid" [message]="'PASSWORD.FORM.ERRORS.PASSWORDS-NOT-EQUAL'">
              </app-ecamp-input-error>
            </div>
            <button mat-raised-button class="passwordForm.valid ? ecamp-btn-success : ecamp-btn-disabled"
              [disabled]="!passwordForm.valid" (click)="send()">
              {{ 'PASSWORD.FORM.BUTTON' | translate | uppercase }}
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>