@import '../../../../styles/variables.scss';

.ecamp-password {
    
    &-header {
        height: 300px;
        background-color: map-get($colors, color-blue);
    }

    &-body {
        position: relative;
        bottom: 150px;
        background-color: #fff;
    }
}