<app-ecamp-loading></app-ecamp-loading>
<div class="wrapper">
    <app-ecamp-toolbar class="header"></app-ecamp-toolbar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
    <app-ecamp-footer class="footer"></app-ecamp-footer>
</div>