.wrapper {
    
    min-height: 100%;
    position: relative;

    .header {}
    
    .content {
        padding-bottom: 100px;
    }

    .footer {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}