<div class="ecamp-modal-header">
  <h1>{{ 'APPLICATION.MODAL.NEW-APPLICATION' | translate }}</h1>
</div>

<div class="ecamp-modal-body">

  <mat-horizontal-stepper>

    <!-- Step 1: Child -->
    <mat-step>
      <ng-template matStepLabel>{{ 'APPLICATION.MODAL.PARTICIPANT' | translate }}</ng-template>
      <form [formGroup]="childForm">
        <div class="container-fluid">

          <!-- ·········· Sex ·········· -->
          <div class="radio-btns-group">
            <h5>{{ 'APPLICATION.MODAL.SEX' | translate }}:</h5>
            <mat-radio-group formControlName="sex">
              <mat-radio-button value="F">{{ 'APPLICATION.MODAL.WOMAN' | translate }}</mat-radio-button>
              <mat-radio-button value="M">{{ 'APPLICATION.MODAL.MAN' | translate }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- DNI, name, surnames & birthday -->
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.DNI' | translate }}"
                  formControlName="dni">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.NAME' | translate }}"
                  formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.SURNAMES' | translate }}"
                  formControlName="surnames">
              </mat-form-field>
            </div>
            <div class="col-md-3">

              <mat-form-field class="input-full-width">
                <input matInput [matDatepicker]="childBirthdayPicker"
                  placeholder="{{ 'APPLICATION.MODAL.BIRTHDAY' | translate }}" formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="childBirthdayPicker"></mat-datepicker-toggle>
                <mat-datepicker #childBirthdayPicker></mat-datepicker>
              </mat-form-field>

              <mat-error *ngIf="!validAge">{{ 'APPLICATION.MODAL.ERRORS.INCORRECT-DATE' | translate }}</mat-error>

            </div>
          </div>
          <!-- Address, cp, location, province -->
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.ADDRESS' | translate }}"
                  formControlName="address">
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.LOCATION' | translate }}"
                  formControlName="location">
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.PROVINCE' | translate }}"
                  formControlName="province">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.CP' | translate }}" formControlName="cp">
              </mat-form-field>
            </div>
          </div>
          <!-- Enfermedades -->
          <div class="row">
            <div class="col-md-12">
              <h4>{{ 'APPLICATION.MODAL.HAVE-ANY-ALLERGIES' | translate }}</h4>
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.ALLERGIES-INTOLERANCES' | translate }}"
                  formControlName="intolerances">
              </mat-form-field>
            </div>
          </div>

        </div>
      </form>
    </mat-step>

    <!-- Step 2: Parent -->
    <mat-step>
      <ng-template matStepLabel>{{ 'APPLICATION.MODAL.PARENT' | translate }}</ng-template>
      <form [formGroup]="parentForm">
        <div class="container-fluid">

          <!-- Sex -->
          <div class="radio-btns-group">
            <h5>{{ 'APPLICATION.MODAL.SEX' | translate }}:</h5>
            <mat-radio-group formControlName="sex">
              <mat-radio-button value="F">{{ 'APPLICATION.MODAL.WOMAN' | translate }}</mat-radio-button>
              <mat-radio-button value="M">{{ 'APPLICATION.MODAL.MAN' | translate }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <!-- DNI, name, surnames & birthday -->
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.DNI' | translate }}"
                  formControlName="dni">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.NAME' | translate }}"
                  formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.SURNAMES' | translate }}"
                  formControlName="surnames">
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="input-full-width">
                <input type="number" matInput placeholder="{{ 'APPLICATION.MODAL.AGE' | translate }}"
                  formControlName="age">
              </mat-form-field>
            </div>
          </div>
          <!-- Address, cp, location, province -->
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.ADDRESS' | translate }}"
                  formControlName="address">
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.LOCATION' | translate }}"
                  formControlName="location">
              </mat-form-field>
            </div>
            <div class="col-md-5">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.PROVINCE' | translate }}"
                  formControlName="province">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.CP' | translate }}" formControlName="cp">
              </mat-form-field>
            </div>
          </div>
          <!-- Email & phone -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.EMAIL' | translate }}"
                  formControlName="email">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="input-full-width">
                <input type="text" matInput placeholder="{{ 'APPLICATION.MODAL.PHONE' | translate }}"
                  formControlName="phone">
              </mat-form-field>
            </div>
          </div>
          <!-- Authorization -->
          <div class="row">
            <div class="col-md-1">
              <mat-checkbox formControlName="dataProtection">
              </mat-checkbox>
            </div>
            <div class="col-md-11">
              <p innerHTML="{{ 'APPLICATION.MODAL.DATA-PROTECTION' | translate }}"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <mat-checkbox formControlName="authorization">
              </mat-checkbox>
            </div>
            <div class="col-md-11">
              <p innerHTML="{{ 'APPLICATION.MODAL.AUTHORIZATION' | translate }}"></p>
            </div>
          </div>

        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>

</div>

<div class="ecamp-modal-footer">
  <button mat-stroked-button color="primary" class="btns-group" [disabled]="!childForm.valid || !parentForm.valid"
    (click)="send()">
    {{ 'APPLICATION.MODAL.SEND' | translate | uppercase }}
  </button>
  <button mat-stroked-button (click)="closeModal()">
    {{ 'APPLICATION.MODAL.CANCEL' | translate | uppercase | translate }}
  </button>
</div>