<div class="ecamp-modal-header">
  <h1>{{ 'PROFILE.MODAL.TITLE' | translate }}</h1>
</div>

<div class="ecamp-modal-body">
  <form [formGroup]="profileForm">

    <!-- Name, surnames -->
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="input-full-width">
          <input type="text" matInput placeholder="{{ 'PROFILE.MODAL.NAME' | translate }}" formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="input-full-width">
          <input type="text" matInput placeholder="{{ 'PROFILE.MODAL.SURNAMES' | translate }}"
            formControlName="surnames">
        </mat-form-field>
      </div>
    </div>

    <!-- Email -->
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="input-full-width">
          <input type="text" matInput autocorrect="on" placeholder="{{ 'PROFILE.MODAL.EMAIL' | translate }}"
            formControlName="email">
        </mat-form-field>
        <app-ecamp-input-error [control]="email" [message]="'LOGIN.FORM.ERRORS.INCORRECT-EMAIL'">
        </app-ecamp-input-error>
      </div>
    </div>

    <!-- Pass, repeat pass -->
    <div class="row" formGroupName="pass">
      <div class="col-md-6">
        <mat-form-field class="input-full-width">
          <input type="password" matInput placeholder="{{ 'PROFILE.MODAL.PASS' | translate }}"
            formControlName="firstPass">
        </mat-form-field>
        <app-ecamp-input-error *ngIf="firstPass.value" [control]="firstPass"
          [message]="'LOGIN.FORM.ERRORS.INCORRECT-PASSWORD'">
        </app-ecamp-input-error>
      </div>
      <div class="col-md-6">
        <mat-form-field class="input-full-width">
          <input type="password" matInput placeholder="{{ 'PROFILE.MODAL.REPEAT-PASS' | translate }}"
            formControlName="repeatPass">
        </mat-form-field>
        <app-ecamp-input-error *ngIf="repeatPass.value" [control]="repeatPass"
          [message]="'LOGIN.FORM.ERRORS.INCORRECT-PASSWORD'">
        </app-ecamp-input-error>
      </div>
      <app-ecamp-input-error class="col-md-12 invalid-passwords" *ngIf="passwordsInvalid"
        [message]="'PASSWORD.FORM.ERRORS.PASSWORDS-NOT-EQUAL'">
      </app-ecamp-input-error>
    </div>

    <!-- CV -->
    <div class="row" *ngIf="isInstructor()">
      <div class="col-md-6">
        <input type="file" class="input-file input-full-width" placeholder="{{ 'PROFILE.MODAL.CV' | translate }}"
          (change)="setCv($event)">
      </div>
      <div class="col-md-6 user-cv">
        <i class="far fas fa-file-pdf ecamp-btn-pdf" *ngIf="showCv" (click)="openCv()"></i>
      </div>
    </div>

  </form>
</div>

<div class="ecamp-modal-footer">
  <button mat-stroked-button color="primary" class="btns-group" [disabled]="!profileForm.valid"
    (click)="save()">{{ 'PROFILE.MODAL.SAVE' | translate | uppercase }}</button>
  <button mat-stroked-button (click)="cancel()">
    {{ 'PROFILE.MODAL.CANCEL' | translate | uppercase }}
  </button>
</div>