<div class="ecamp-modal-header">
  <h1>{{ 'PARTICIPANTS.MODAL.PARTICIPANT' | translate }}</h1>
</div>

<div class="ecamp-modal-body">

  <mat-tab-group>

    <!-- Child -->
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-baby ecamp-icon-primary"></i>
      </ng-template>
      <div class="container-fluid">
        <div class="row" *ngIf="child">
          <div class="col-md-6 ecamp-child-info">
            <p><strong>{{ 'PARTICIPANTS.MODAL.NAME' | translate }}</strong><br> {{ child.name }}</p>
            <p><strong>{{ 'PARTICIPANTS.MODAL.SURNAMES' | translate }}</strong><br> {{ child.surnames }}</p>
          </div>
          <div class="col-md-6 ecamp-child-info">
            <p><strong>{{ 'PARTICIPANTS.MODAL.BIRTHDAY' | translate }}</strong><br> {{ child.birthday.time }}</p>
            <p><strong>{{ 'PARTICIPANTS.MODAL.AGE' | translate }}</strong><br> {{ child.age }}</p>
            <p>
              <strong>{{ 'PARTICIPANTS.MODAL.ALLERGIES-INTOLERANCES' | translate }}</strong><br>
              {{ child.intolerances }}
            </p>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Parent -->
    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fas fa-user ecamp-icon-primary"></i>
      </ng-template>
      <div class="container-fluid" *ngIf="parent">
        <div class="row">
          <div class="col-md-5 ecamp-child-info">
            <h5><strong>{{ 'PARTICIPANTS.MODAL.PARENT' | translate }}</strong></h5><br>
            <p><strong>{{ 'PARTICIPANTS.MODAL.DNI' | translate }}</strong><br> {{ parent.dni }}</p>
            <p><strong>{{ 'PARTICIPANTS.MODAL.NAME' | translate }}</strong><br> {{ parent.name }}</p>
            <p><strong>{{ 'PARTICIPANTS.MODAL.SURNAMES' | translate }}</strong><br> {{ parent.surnames }}</p>
            <p><strong>{{ 'PARTICIPANTS.MODAL.EMAIL' | translate }}</strong><br> {{ parent.email }}</p>
            <p><strong>{{ 'PARTICIPANTS.MODAL.PHONE' | translate }}</strong><br> {{ parent.phone }}</p>
          </div>
          <div class="col-md-7 ecamp-child-info">
            <h5 class="messagge-title"><strong>{{ 'PARTICIPANTS.MODAL.SEND-MESSAGE' | translate }}</strong></h5>
            <div class=" container-fluid">
              <form class="row" [formGroup]="messageForm">
                <mat-form-field class="col-md-12">
                  <input type="text" matInput placeholder="{{ 'PARTICIPANTS.MODAL.TITLE' | translate }}"
                    formControlName="title">
                </mat-form-field>
                <div class="col-md-12">
                  <!-- <app-ecamp-input-error [control]="email" [message]="'FORM.ERRORS.INCORRECT-EMAIL'">
                </app-ecamp-input-error> -->
                </div>
                <mat-form-field class="col-md-12">
                  <textarea matInput placeholder="{{ 'PARTICIPANTS.MODAL.COMMENT' | translate }}"
                    formControlName="body"></textarea>
                </mat-form-field>
                <div class="col-md-12">
                  <!-- <app-ecamp-input-error [control]="pass" [message]="'FORM.ERRORS.INCORRECT-PASSWORD'">
                </app-ecamp-input-error> -->
                </div>
              </form>
            </div>
            <div class="messagge-btn">
              <button mat-stroked-button color="primary" class="btns-group" [disabled]="!messageForm.valid"
                (click)="sendMessage()">
                {{ 'PARTICIPANTS.MODAL.SEND' | translate | uppercase }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

<div class="ecamp-modal-footer">
  <button mat-stroked-button (click)="cancel()">
    {{ 'ALERT.CLOSE' | translate | uppercase }}
  </button>
</div>