.ecamp-child-info {
    
    padding: 15px 0px;

    .messagge-title, .messagge-btn {
        padding: 0px 15px 0px 15px;
    }

    .messagge-btn {
        text-align: center;
    }

    p {
        font-size: 15px;
    }
}