<div class="table-responsive">
  <table class="table ecamp-table-bills">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'BILLS.TABLE.USER.DNI' | translate }}</th>
        <th scope="col">{{ 'BILLS.TABLE.USER.NAME' | translate }}</th>
        <th scope="col">{{ 'BILLS.TABLE.USER.SURNAMES' | translate }}</th>
        <th scope="col">{{ 'BILLS.TABLE.TOTAL' | translate }} (€)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ bill.user.dni }}</td>
        <td>{{ bill.user.name }}</td>
        <td>{{ bill.user.surnames }}</td>
        <td>{{ bill.total }}</td>
        <td><i class="fas fa-eye ecamp-btn-table-icon ecamp-icon-success" (click)="showBill(bill)"></i></td>
      </tr>
    </tbody>
  </table>
</div>