<div class="container-fluid ecamp-table-head">
  <div class="row">
    <div class="col-xs-2 ecamp-table-col"></div>
    <div class="col-xs-2 ecamp-table-col">#</div>
    <div class="col-xs-3 ecamp-table-col">{{ 'USERS.TABLE.NAME' | translate }}</div>
    <div class="col-xs-3 ecamp-table-col">{{ 'USERS.TABLE.DNI' | translate }}</div>
    <div class="col-xs-2 ecamp-table-col"></div>
    <div class="col-xs-2 ecamp-table-col"></div>
  </div>
</div>

<div class="container-fluid ecamp-table-body">
  <ng-container *ngFor="let user of users; let i = index">

    <!-- Instructor/Parents info -->
    <div class="row">
      <div class="col-xs-2 ecamp-table-col"><i [ngClass]="getIcon(user)" (click)="expandUser(user)"></i></div>
      <div class="col-xs-2 ecamp-table-col">{{ i+1 }}</div>
      <div class="col-xs-3 ecamp-table-col">{{ user.name }}</div>
      <div class="col-xs-3 ecamp-table-col">{{ user.dni }}</div>
      <div class="col-xs-2 ecamp-table-col">
        <i class="fas fa-pen ecamp-btn-table-icon ecamp-icon-warning" (click)="edit(user)"></i>
      </div>
      <div class="col-xs-2 ecamp-table-col">
        <i class="fas fa-trash-alt ecamp-btn-table-icon ecamp-icon-danger" (click)="removeUser(user)"></i>
      </div>
    </div>

    <!-- Childs info -->
    <div [@detailExpand]="!user.collapse ? 'expanded' : 'collapsed'" *ngIf="isParent()">
      <div class="row" *ngFor="let child of parentSelectors[user._id] | async">
        <div class="col-xs-2 ecamp-table-col"></div>
        <div class="col-xs-2 ecamp-table-col"><i class="fas fa-baby"></i></div>
        <div class="col-xs-3 ecamp-table-col">{{ child.name }}</div>
        <div class="col-xs-3 ecamp-table-col">{{ child.dni }}</div>
        <div class="col-xs-2 ecamp-table-col">
          <i class="fas fa-pen ecamp-btn-table-icon ecamp-icon-warning" (click)="edit(child)"></i>
        </div>
        <div class="col-xs-2 ecamp-table-col"></div>
      </div>
    </div>

    <!-- Camps info -->
    <div [@detailExpand]="!user.collapse ? 'expanded' : 'collapsed'" *ngIf="!isParent()">
      <div class="row">
        <div class="col-xs-2 ecamp-table-col"></div>
        <div class="col-xs-2 ecamp-table-col"><i class="fas fa-campground"></i></div>
        <div class="col-xs-3 ecamp-table-col">{{ user.camp.name }}</div>
        <div class="col-xs-3 ecamp-table-col"></div>
        <div class="col-xs-2 ecamp-table-col"></div>
        <div class="col-xs-2 ecamp-table-col"></div>
      </div>
    </div>

  </ng-container>
</div>