<div class="container-fluid">
    <div class="row">
        <!-- MENU -->
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 crm-menu">
            <app-crm-navigation></app-crm-navigation>
        </div>
        <!-- BODY -->
        <div class="col-sm-12 col-md-9 col-lg-9 col-xl-10 crm-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>