<!-- TITLE -->
<app-crm-section-title [title]="'BILLS.TITLE'"></app-crm-section-title>

<!-- BILLS -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-12 ecamp-btns">
      <!-- <button mat-fab color="primary">
        <i class="fas fa-filter icon"></i>
        <span *ngIf="filters.active" class="active-badge"></span>
      </button> -->
    </div>
  </div>

  <app-ecamp-loading [isBuildLoader]="true" *ngIf="loading$ | async"></app-ecamp-loading>

  <div class="row" *ngIf="bills$ | async as bills">
    <div class="col-md-12" *ngIf="bills.length">
      <app-bill-table [bills]="bills"></app-bill-table>
    </div>
  </div>

  <ng-container *ngIf="!(loading$ | async) && !(bills$ | async).length">
    <app-ecamp-empty-state [message]="'BILLS.NOT-BILLS'"></app-ecamp-empty-state>
  </ng-container>

</div>