<div class="ecamp-alert">

  <h1
    mat-dialog-title
    class="ecamp-alert-title"
  >{{ 'ALERT.INFO' | translate }}</h1>

  <div
    mat-dialog-content
    class="ecamp-alert-content"
  >
    {{ 'ALERT.PAYPAL.GO-TO-PAYMENT' | translate }}
  </div>

  <div id="paypal-btn"></div>

</div>