<span class="badge badge-pill modalities" *ngIf="!canCheck" [ngClass]="type">
    {{ name | translate }}
</span>

<span class="badge badge-pill modalities" *ngIf="canCheck" [ngClass]="type" (click)="setType()">
    {{ name | translate }}
</span>