<!-- <div class="ecamp-pagination">
  <button class="ecamp-btn-icon" *ngIf="!isFirstPage()" (click)="subtractPage()">
    <i class="fas fa-chevron-circle-left"></i>
  </button>
  <span>{{ page }}</span>
  <span>/</span>
  <span>{{ totalPages }}</span>
  <button class="ecamp-btn-icon ecamp-btn-icon" *ngIf="!isLastPage()" (click)="addPage()">
    <i class="fas fa-chevron-circle-right"></i>
  </button>
</div> -->

<!-- <div class="container">
  <div class="row"> -->

<button mat-raised-button><i class="fas fa-plus"></i></button>
<!-- </div>
</div> -->