<!-- TITLE -->
<app-crm-section-title [title]="'CHARTS.TITLE'"></app-crm-section-title>

<!-- BILLS -->
<div class="container-fluid">

    <ng-container *ngIf="charts$ | async as charts">
        <div class="row ecamp-chart">
            <!-- Num camps -->
            <div class="col-md-5 ecamp-chart-total">
                <h2><strong>{{ 'CHARTS.TOTAL-CAMPS' | translate }}</strong></h2>
                <h1><strong>{{ charts.totalsAndByType.totalCamps }}</strong></h1>
            </div>
            <div class="col-md-5 ecamp-chart-total">
                <h2><strong>{{ 'CHARTS.TOTAL-APPLICATIONS' | translate }}</strong></h2>
                <h1><strong>{{ charts.totalsAndByType.totalApplications }}</strong></h1>
            </div>
        </div>

        <div class="row" *ngIf="language$ | async as language">
            <!-- Camps by modalities  -->
            <div class="col-md-12 ecamp-chart">
                <h3><strong>{{ 'CHARTS.TYPES.CAMPS-BY-MODALITIES' | translate }}</strong></h3>
                <app-ecamp-bar-chart [chart]="charts" [lang]="language"></app-ecamp-bar-chart>
            </div>
        </div>

        <div class="row" *ngIf="language$ | async as language">
            <!-- Camps by type -->
            <div class="col-md-6 ecamp-chart">
                <h3><strong>{{ 'CHARTS.TYPES.CAMPS-BY-TYPE' | translate }}</strong></h3>
                <app-ecamp-pie-chart [chart]="charts" [data]="charts.totalsAndByType.campsByType.numCamps"
                    [lang]="language">
                </app-ecamp-pie-chart>
            </div>
            <!-- Applications by camp type -->
            <div class="col-md-6 ecamp-chart">
                <h3><strong>{{ 'CHARTS.TYPES.APPLICATIONS-BY-CAMP-TYPE' | translate }}</strong></h3>
                <app-ecamp-pie-chart [chart]="charts" [data]="charts.totalsAndByType.campsByType.numApplications"
                    [lang]="language">
                </app-ecamp-pie-chart>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!(charts$ | async)">
        <app-ecamp-empty-state [message]="'CHARTS.NOT-CHARTS'"></app-ecamp-empty-state>
    </ng-container>

</div>