.ecamp-chart {
    
    padding: 15px;
    text-align: center;
    justify-content: space-between;

    .ecamp-chart-total {
        margin: 20px 0px;
        background-color: #fff;

        h1, h2 {
            padding: 15px;
        }

        h1 {
            font-size: 50px;
        }
    }
}