@import '../../../../styles/variables.scss';

.crm-programmings {

    padding: 15px;

    .programmings-list {

        max-height: 50vh;
        overflow-y: auto;
        margin-top: 25px;

        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #fff; 
            border-radius: 10px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: gainsboro;
            border-radius: 10px; 
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: map-get($colors, color-blue); 
        }

        .programming-card {
            padding: 0;
            background-color: #fff;
            height: auto;
            margin: 5px;
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            cursor: pointer;

            h3, h5 {
                padding: 15px;
            }
        }

        .programming-card-selected {
            border: 3px solid map-get($colors, color-blue);
        }

        .programmings-list-empty {
            text-align: center;
        }
    }

    .programming-body {
        
        padding: 15px;

        textarea {
            width: 100%;
        }
    }

    .programming-images {
        padding: 15px;
    }

    .programming-btns {

        padding: 15px;
        text-align: center;

        button {
            margin: 5px;
        }
    }
}