<!-- TITLE -->
<app-crm-section-title [title]="'PROGRAMMINGS.TITLE'"></app-crm-section-title>

<!-- PROGRAMMINGS -->
<div class="container crm-programmings">

  <div class="row">
    <div class="col-md-12 ecamp-btns">
      <button mat-fab color="primary" (click)="newProgramming()">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
  </div>

  <div class="row">

    <!-- Programmings list -->
    <div class="col-md-4 programmings-list">
      <div class="container-fluid">
        <!-- Programmings -->
        <div class="row" *ngIf="programmings$ | async as programmings">
          <div class="col-md-12 programming-card" [ngClass]="{ 'programming-card-selected': programming.selected }"
            *ngFor="let programming of programmings" (click)="selectProgramming(programming)">
            <h3><strong>{{ programming.title }}</strong></h3>
            <h5>{{ programming.date.time }}</h5>
          </div>
        </div>
        <!-- Not programmings -->
        <ng-container *ngIf="!(programmings$ | async) || !(programmings$ | async).length">
          <app-ecamp-empty-state [message]="'PROGRAMMINGS.NOT-PROGRAMMINGS'"></app-ecamp-empty-state>
        </ng-container>
      </div>
    </div>

    <!-- Programming form -->
    <div class="col-md-8">
      <form class="container-fluid" [formGroup]="programmingForm">
        <!-- Title & date -->
        <div class="row">
          <mat-form-field class="col-md-8">
            <input type="text" matInput placeholder="{{ 'PROGRAMMINGS.FORM.TITLE' | translate }}"
              formControlName="title">
          </mat-form-field>
          <mat-form-field class="col-md-4 input-full-width">
            <input matInput [matDatepicker]="startPicker" [min]="minDate" [max]="maxDate"
              placeholder="{{ 'PROGRAMMINGS.FORM.DATE' | translate }}" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <!-- Body -->
        <div class="row">
          <div class="col-md-12 programming-body">
            <textarea cols="80" rows="10" formControlName="body"></textarea>
          </div>
        </div>
        <!-- Images -->
        <div class="row">
          <div class="col-md-12 programming-images">
            <app-media-manager [code]="code" [images]="images" (updateImages)="updateImages($event)">
            </app-media-manager>
          </div>
        </div>
        <!-- Btn -->
        <div class="row">
          <div class="col-md-12 programming-btns">
            <button mat-raised-button class="ecamp-btn-success btns-group" [disabled]="!programmingForm.valid"
              (click)="saveProgramming()">
              {{ 'PROGRAMMINGS.FORM.SAVE-BTN' | translate | uppercase }}
            </button>
            <ng-container *ngIf="programming$ | async as programming">
              <button mat-raised-button class="ecamp-btn-danger" *ngIf="programming._id"
                (click)="removeProgramming(programming)">
                {{ 'PROGRAMMINGS.FORM.REMOVE-BTN' | translate | uppercase }}
              </button>
            </ng-container>
          </div>
        </div>
      </form>
    </div>

  </div>

</div>